

.button {
  display: inline list-item;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
  margin-left: 5px;
  transition: background-color 0.3s ease;
  color: black;
  background-color: transparent;
  font-size: small;
}

.button:hover {
  background-color: grey;
}

/* .option-group {
  padding-bottom: 'sm';
} */

.option-list {
  /* background-color: rgba(208, 208, 208, 0.969); */
}

.heading {
  font-size: large;
  color: rgba(102, 101, 101, 0.94);
}

.description {
  font-size: small;
  color: rgba(102, 101, 101, 0.94);
}