.title {
  font-size: 34px;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
        transform: translateY(-5px) rotate(0.3deg);
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }
}

.cardDisabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}


.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}
