name: cd
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Explicit tag, use to override the default patch-increment strategy
        type: string
        required: false
      testpypi:
        description: Whether to upload to testpypi instead of pypi.
        type: boolean
        required: false
        default: false
jobs:
  deploy:
    name: "Build, upload and tag"
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/setup-node@v4
      - run: |
          set -euo pipefail
          if [ "${{ inputs.testpypi }}" = "true" ] ; then
            set -x
          fi

          # git config -- manual clone remnant of auth troubleshooting
          BRANCH="${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
          git clone -b $BRANCH --single-branch https://$GH_USER:$GH_TOKEN@github.com/ecmwf/forecast-in-a-box.git .
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://$GH_USER:$GH_TOKEN@github.com/ecmwf/forecast-in-a-box.git
          git fetch --tags origin

          # prereqs
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv venv venv && source venv/bin/activate
          uv pip install twine build

          # build
          # we dirty the repo with the frontend build, scm would not pick the tag correctly on its own
          # upload
          if [ "${{ inputs.testpypi }}" = "true" ] ; then
            export TWINE_PASSWORD="$TWINE_PASSWORD_TEST"
            TARGET="--repository testpypi"
          else
            export TWINE_PASSWORD="$TWINE_PASSWORD_PROD"
            TARGET=""
          fi
          export SETUPTOOLS_SCM_PRETEND_VERSION='0.0.1'
          pushd backend/packages/fiab-plugin-ecmwf
          python -m build --installer uv .
          twine check ./dist/*
          twine upload --verbose $TARGET ./dist/*
          popd
        env:
          TWINE_PASSWORD_PROD: ${{ secrets.PYPI_API_TOKEN }}
          TWINE_PASSWORD_TEST: ${{ secrets.PYPI_TEST_API_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_REPO_READ_TOKEN }} # says read but actually is write -- and we need that
          GH_USER: deploy
